.recoverButton {
    background-color:#c74545;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #141414;
}
.recoverButton:hover {
    background-color:#165263;
}
.recoverButton:active {
    position:relative;
    top:1px;
}
